.CategoryBtn {
    display: flex;
    list-style: none;
    padding: 0;
    .activeCategory {
        color: #f9f9f9;
        background: #282828;
    }
    li {
        cursor: pointer;
        margin: 0px 10px 0px 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        border-radius: 30px;
        padding: 20px 40px 20px 40px;
        background: #f9f9f9;
        color: #282828;
    }
}
